*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: cornflowerblue; */
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  width: 500px;
  margin: 0 auto;
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  min-width: 325px;
}
.content{
  margin: 8px;
}

.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

button {
  border: none;
  background-color: firebrick;
  color: #fff9f9ea;
  font-size: 24px;
  padding: 12px;
  font-weight: 600;
  margin-left: 10px;
  margin-top: 10px;
  height: 65px;
}

button:hover {
  cursor: pointer;
  background-color: rgb(4, 85, 112);
  transition: .5s all ease-in-out;
}

input {
  border: none;
  background-color: #eaeaea;
  color: #222222;
  padding: 16px;
  font-size: 24px;
  margin-top: 10px;
}

#pertanyaan {
  font-size: 20px;
  font-weight: 700;
}

#loaders {
  display: none;
  width: 120px;
  height: 120px;
  position: absolute;
  border: 16px solid #f3f3f3;
  border-top: 16px solid rgb(44, 137, 196);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}